<app-nav-bar></app-nav-bar>
<mat-grid-list cols="2">
  <mat-grid-tile *ngFor="let data of dataSource.data" [colspan]="2" [rowspan]="2">
    <mat-card class="example-card">
      <mat-card-header>
        <strong><mat-card-subtitle>{{data.name}}</mat-card-subtitle></strong>
        <mat-icon (click)="addToFavorites(data.id)">favorite_border</mat-icon>
      </mat-card-header>

      <a href="product-details/{{data.id}}">
        <img mat-card-image src="{{data.image}}" alt="Clothe picture">
      </a>
      <mat-card-content>
        <p>{{data.price}}</p>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
