<div>
  <a href="/home">
    <mat-icon>arrow_back</mat-icon>
  </a>
  <button id="settings-btn" mat-icon-button color="transparent">
    <mat-icon>settings</mat-icon>
  </button>
  <h1>Account</h1>
  <img *ngIf="userData.profileImage.length>0; else elseTemplate" class="circular--square" [src]="userData.profileImage">
  <ng-template #elseTemplate>
    <img class="circular--square" src="assets/default-avatar.jpg">
  </ng-template>
  <h3>Username</h3>
  <h2>{{userData.firstName}}  {{userData.lastName}}</h2>
  <h2>
    <mat-icon >person</mat-icon>
    Personal Data
    <a href="/home/account/edit-data">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
  </h2>
  <h2>
    <mat-icon >favorite</mat-icon>
    Favorites
    <a href="/favorites">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
  </h2>
  <h2>
    <mat-icon>payment</mat-icon>
    Payment Methods
    <a ><mat-icon>keyboard_arrow_right</mat-icon></a>
  </h2>
  <mat-slide-toggle [(ngModel)]="notif_activated" class="mat-slide-toggle" color="switch">
    <h2 [style.color]="notif_activated ? 'green' : 'black'">Notifications</h2>
  </mat-slide-toggle>
  <div class="sign-out">
    <h2>
      <button [routerLink]="''" id="sign-out-btn" mat-icon-button color="red">
        <mat-icon>exit_to_app</mat-icon>
      </button>
      <a href="/" style="text-decoration: none; color: #000;" (click)="signOut()">Sign out</a>
    </h2>
  </div>
</div>
