<div class="docs-example-viewer-body" *ngIf="ProductDetails$ | async as book">
  <mat-card>
    <div class="content">
      <div class="left-div">
        <mat-card-content class="image-card">
          <img class="d-block w-100" mat-card-image src="{{book.image}}" alt="No image available">
        </mat-card-content>
      </div>
      <div class="right-div">
        <mat-card-subtitle>{{book.brand}}</mat-card-subtitle>
        <h4><b>{{book.name}}</b></h4>
        <h3>{{book.price | currency : 'S/. '}}</h3>
        <p>sizes</p>
        <div class="square" *ngFor="let s of book.size;let i= index ">{{book.size[i]}}</div>
      </div>
    </div>
  </mat-card>
</div>
