<app-nav-bar [style.padding]="'0px'"></app-nav-bar>
<h2 id="title-section">Product Details</h2>
<div class="docs-example-viewer-body" *ngIf="ProductDetails$ | async as book">
  <mat-card class="Product-detail">
    <div class="content">
      <div class="left-div">
          <img mat-card-image src="{{book.image}}" alt="No image available">
      </div>
      <div class="right-div">
        <mat-card-subtitle>{{book.brand}}</mat-card-subtitle>
        <h4><b>{{book.name}}</b></h4>
        <h3>{{book.price | currency : 'S/. '}}</h3>
        <p>sizes</p>
      </div>
    </div>
  </mat-card>
</div>
<app-coments-box></app-coments-box>
<router-outlet></router-outlet>
