<app-nav-bar [style.padding]="'0px'"></app-nav-bar>
<div>
  <div class="title-and-filter">
    <mat-card>
      <h1>SHOP LIST</h1>
    </mat-card>
    <h1></h1>
    <mat-card>
      <mat-card>
        <h1>Nike</h1>
        <img src="https://d13xymm0hzzbsd.cloudfront.net/1/20210909/16312244820236.png" class="center">
      </mat-card>
      <h1></h1>
      <mat-card>
        <h1>Adidas</h1>
        <img src="https://cloudfront-us-east-1.images.arcpublishing.com/elcomercio/X6UYUZH4Q5AXVMKWW7SVEX37V4.jpg" class="center" alt="auto">
      </mat-card>
      <h1></h1>
      <mat-card>
        <h1>Zara</h1>
        <img src="https://as01.epimg.net/diarioas/imagenes/2021/11/23/actualidad/1637697885_146176_1637698333_noticia_normal_recorte1.jpg" class="center" alt="auto">
      </mat-card>
      <h1></h1>
      <mat-card>
        <h1>H&M</h1>
        <img src="https://assets.turbologo.com/blog/es/2021/07/15062755/shutterstock_1784238500-958x575-1.jpg" class="center" alt="auto">
      </mat-card>
    </mat-card>
  </div>
</div>

