<div class="logo">
  <img src="https://i.ibb.co/h9sV0Fx/Logo.png" alt="">
</div>
<div class="container">
  <form class="example-form" #useForm = "ngForm" [formGroup]="loginForm">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com" class="email" name="email"
             formControlName="email">
      <mat-hint>Enter your email</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <mat-label>Password</mat-label>
      <input type="password" matInput #message maxlength="25" formControlName="password" name="password">
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput #message maxlength="25" formControlName="password" name="confirmPassword">
    </mat-form-field>
    <div class="button">
      <button mat-raised-button (click)="checkForgotPassword()">Restore</button>
    </div>
  </form>
</div>
<div class="paragraph">
  <p><a href="" style="text-decoration: none; color: #7C8DA3;">Login</a> to ModelVirtual now</p>
  <a href="forgotYourPassword" class="forgot_password">Register Now</a>
</div>
