<app-nav-bar></app-nav-bar>
<div class="img_content">
  <img src="https://i.ibb.co/R0jYtfq/pexels-dario-solano-4090831.jpg" alt="">
  <img src="https://i.ibb.co/b70Qy5h/pexels-hivladis-11181345.jpg" alt="">
  <img src="https://i.ibb.co/93VVDT7/pexels-randol-cuello-8162790.jpg" alt="">
</div>
<div class="see_more">
  <button mat-raised-button>See More</button>
</div>
<div class="use_qr_code" >
  <h1></h1>
  <div class="inform">
    <p>We click on the camera button and once you write down where the garment label box appears, each of the specifications will appear.</p>
    <img src="https://i.ibb.co/1978Hsb/cel-phone.png"  alt="">
  </div>
</div>
