<div class="logo">
  <img src="https://i.ibb.co/h9sV0Fx/Logo.png" alt="">
</div>
<div class="container">
  <!--Input for the email-->
  <!--Input for the password-->
  <form class="example-form" #useForm = "ngForm">
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="email" matInput [formControl]="emailFormControl" [errorStateMatcher]="matcher"
             placeholder="Ex. pat@example.com" class="email" name="email"
             [(ngModel)]="email">
      <mat-hint>Enter your email</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <mat-label>Password</mat-label>
      <input type="password" matInput #message maxlength="25" [(ngModel)]="password" name="password">
    </mat-form-field>
    <mat-form-field class="example-full-width" >
      <mat-label>Confirm Password</mat-label>
      <input type="password" matInput #message maxlength="25" [(ngModel)]="confirmPassword" name="confirmPassword">
    </mat-form-field>
    <div class="button">
      <button mat-raised-button (click)="checkForgotPassword()">Login</button>
    </div>
  </form>
</div>
<div class="paragraph">
  <p><a href="register" class="register">Register</a> to ModelVirtual now</p>
  <a href="#" class="forgot_password">I forgot my password</a>
</div>
