.head{
  background: #F1F1F1;
  display: grid;
  grid-template-columns: repeat(5,1fr);
  border-radius: 0;
}
.head img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: auto;
}
.head .icon{
  margin: auto;
}
.connections{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 5px;
  border-radius: 0;
}
.connections p{
  display: flex;
  font-size: 15px;
  align-content: center;
  margin: 0;
}
.icon_connection{
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.icon{
  color: #4e4e4e;
}
.linkSecction{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
