<mat-card class="connections">
  <div>
    <strong *ngIf="time.minute < 10; else elseTemplate"><p>{{time.hour}}:0{{time.minute}}</p></strong>
    <ng-template #elseTemplate>
      <strong ><p>{{time.hour}}:{{time.minute}}</p></strong>
    </ng-template>
  </div>
</mat-card>
<mat-card class="head">
  <a class="linkSecction" href="/home">
    <mat-icon  aria-hidden="false" aria-label="Example home icon" class="icon">home</mat-icon>
  </a>
  <a class="linkSecction" href="/qrcode">
    <mat-icon aria-hidden="false" aria-label="Example done icon" class="icon">qr_code</mat-icon>
  </a>
  <a class="linkSecction" href ="/shoplist">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">search</mat-icon>
  </a>
  <a class="linkSecction" href="/favorites">
    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">favorite</mat-icon>
  </a>
  <div *ngIf="userData.profileImage != null; else elseTemplate2">
    <a href="/home/account">
      <img [src]="userData.profileImage" alt="" >
    </a>
  </div>
  <ng-template #elseTemplate2>
    <a class="linkSecction" href="/home/account">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon">account_circle</mat-icon>
    </a>
  </ng-template>
</mat-card>
