<div>
  <button id="back-btn" [routerLink]="'account/1'" mat-icon-button>
    <mat-icon routerLink="/home/account">arrow_back</mat-icon>
  </button> <br>
  <img *ngIf="userData.profileImage.length>0; else elseTemplate" class="circular--square" [src]="userData.profileImage">
  <ng-template #elseTemplate>
    <img class="circular--square" src="assets/default-avatar.jpg">
  </ng-template>

  <h1>{{userFullName}}</h1>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Firstname" required [(ngModel)]="userModel.firstName" [formControl]="first_name_valid">
      <mat-error *ngIf="first_name_valid.invalid">{{getErrorFirstName()}}</mat-error>
      <mat-icon matSuffix>account_box</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Lastname" required [(ngModel)]="userModel.lastName" [formControl]="last_name_valid">
      <mat-error *ngIf="last_name_valid.invalid">{{getErrorLastName()}}</mat-error>
      <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Profile image link</mat-label>
      <input matInput placeholder="123456789" [formControl]="profile_pic_valid" [(ngModel)]="userModel.profileImage">
      <mat-error *ngIf="profile_pic_valid.invalid">{{getErrorProfilePic()}}</mat-error>
      <mat-icon matSuffix>insert_photo</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="name@email.com" [formControl]="email_valid" required [(ngModel)]="userModel.username">
      <mat-error *ngIf="email_valid.invalid">{{getErrorEmail()}}</mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Age</mat-label>
      <input matInput placeholder="19" [(ngModel)]="userModel.year">
    </mat-form-field>
  </p>
  <button id="edit-btn" mat-raised-button (click)="edit()">EDIT</button>
</div>
