* {
  padding: 15px;
}
h1 {
  font-size: 18pt;
  text-align: center;
}
h2 {
  color: #8B8B8B;
  font-size: 12pt;
  text-align: right;
  font-weight: lighter;
}
.mat-red {
  color: red;
}
img {
  width: 130px;
}
.heart-right {
  margin-left: 67%;
}
