<app-nav-bar [style.padding]="'0px'"></app-nav-bar>
<div>
  <div class="title-and-filter">
    <h1>YOUR <br> FAVORITES</h1>
    <h2>
      {{filtertext}}
      <button mat-icon-button [mat-menu-trigger-for]="filtermenu" >
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </h2>
    <mat-menu #filtermenu="matMenu">
      <button mat-menu-item (click)="filterLastVisit()">
        <span>Last visit</span>
      </button>
      <button mat-menu-item (click)="filterLastWeek()">
        <span>Last week</span>
      </button>
      <button mat-menu-item (click)="filterLastMonth()">
        <span>Last month</span>
      </button>
      <button mat-menu-item (click)="filterAll()">
        <span>All</span>
      </button>
    </mat-menu>
  </div>
  <div class="favorites-cards">
    <mat-grid-list cols="2">
      <mat-grid-tile *ngFor="let data of dataSource.data" [colspan]="2" [rowspan]="2">
        <mat-card class="example-card">
          <mat-card-header>
            <strong><mat-card-subtitle>{{data.name}}</mat-card-subtitle></strong>
            <mat-icon color="red" (click)="deleteFavorite(data.id)">favorite</mat-icon>
          </mat-card-header>
          <a href="product-details/{{data.id}}">
            <img mat-card-image src="{{data.image}}" alt="Photo of a Shiba Inu">
          </a>
          <mat-card-content>
            <p>{{data.price}}</p>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
